_trannySpeed = $transitionSpeed;


.ui-picklist-frame
    width: 100%

.ui-picklist
  .ui-picklist-label
    min-height: $brick;
    line-height: $brick;
    font-size: $line;
  .ui-picklist-input
    min-height: $brick;
    transition: color _trannySpeed, border _trannySpeed, background _trannySpeed;
  .ui-picklist-zone-frame
    display:table
    width: 100%
    table-layout: fixed
  .ui-picklist-zone
    display: table-cell
    
  .ui-picklist-data
    min-height: 100px
    vertical-align:top
    
  .ui-picklist-controls
    width: $brick
    min-width: $brick
    min-height: 100px
    vertical-align: middle
    .ui-appearance-button
      border-radius: 0
  .ui-picklist-selectlist-frame
    border: $border-width solid $color-default
    height: ($brick + ($border-width*2)) * 9
    overflow: auto
  .ui-picklist-selectlist-frame-selectionmodel
    margin-top: $brick


ui-states('.ui-picklist', '.ui-picklist-label', $ui-states, iLabel, $interactivityTolerance)
ui-states('.ui-picklist', '.ui-picklist-input', $ui-states, iInput, $interactivityTolerance)
