_trannySpeed = $transitionSpeed;


.ui-picklist-frame
    width: 100%

.ui-picklist
  .ui-picklist-label
    min-height: $brick;
    line-height: $brick;
    font-size: $line;
  .ui-picklist-input
    min-height: $brick;
    transition: color _trannySpeed, border _trannySpeed, background _trannySpeed;
  .ui-picklist-zone-frame
    display:table
    width: 100%
    table-layout: fixed
  .ui-picklist-zone
    display: table-cell
    vertical-align: middle
  .ui-picklist-data
    min-height: 100px
  .ui-picklist-controls
    width: 50px
    min-height: 100px
  .ui-picklist-selection
    min-height: 100px
    

ui-states('.ui-picklist', '.ui-picklist-label', $ui-states, iLabel, $interactivityTolerance)
ui-states('.ui-picklist', '.ui-picklist-input', $ui-states, iInput, $interactivityTolerance)
