<div data-ng-id="basic_configuration" class="waffles ui-view-basic-configuration">
    <div class="w-12 w-alpha w-omega">
        <div class="w-12 w-alpha w-omega">
            [{{people.length}}] People. Select a person To programatically set the Picklist
        </div>
        <div class="w-12 w-alpha w-omega">
          <div class="w-6 w-alpha">
              <telui-combobox
                              data="people"
                              label="People"
                              value="selectedPerson"
                              max-height="400"
                              label-prop="<%= name.last %>, <%= name.first %>">
              </telui-combobox>
          </div>
          <div class="w-6 w-omega">
              {{selectedPerson}}
          </div>
        </div>
        <div class="w-12 w-alpha w-omega" ng-if="selectedPerson">
          <div class="w-auto">
              <telui-label
                           label="Set Picklist Value to :"
                           appearance="label"
                           ></telui-label>
          </div>
          <div class="w-auto">
            <telui-button
                          label="{{selectedPerson.name}}"
                          click="setPicklistToPerson(selectedPerson)"
                          ></telui-button>
          </div>
        </div>
        
        <div class="w-12 w-alpha w-omega w-v-4">
            <telui-Picklist
                            data="people"
                            value="pickedPeople"
                            label="People Selector"
                            label-primary="input list"
                            label-secondary="output list"
                            label-prop="<%= name.last %>, <%= name.first %>"
                            ></telui-Picklist>
        </div>
        <div class="w-12 w-alpha w-omega">
          {{pickedPeople}}
        </div>

        <div class="w-12 w-alpha w-omega">
            <div ui-view></div>
        </div>
    </div>
</div>
